@import 'normalize';
@import 'variables';

ul,li,div,p,h1,h2,h3,h4,h5,h6 {padding: 0; margin: 0;}
* {box-sizing: border-box;}
::-webkit-input-placeholder {
	color: $borderColor;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $borderColor;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $borderColor;
}
:-moz-placeholder { /* Firefox 18- */
  color: $borderColor;
}
a {
	color: $borderColor;
	text-decoration: none;
}

html {
	min-height: 100%;
	overflow: hidden;
}

body {
	min-height: 100%;
	height: 100%;
	top: 0;
	position: absolute;
	overflow: hidden;
	font-family: 'Roboto Condensed', 'Helvetica Neue', helvetica, Arial, sans-serif;
	background-color: $backgroundColor;
	color: $borderColor;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: subpixel-antialiased;
	text-shadow:0 0 2px transparent;
	font-size: 12pt;
}

#app {
	@import 'components';

	width: 100%;
	height: 100%;

  	.wrapper {
  		background: url('/static/images/logo-background.jpg') no-repeat center center fixed; 
  		background-size: cover;
  		width: inherit;
  		height: inherit;
  	}

	.content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
	}

	.user-interaction {
		min-height: 80px;
   	 	margin-top: 50px;
		width: 625px;
	}

	.grecaptcha-badge {
		display: none;
	}

	.inputbox-leave {
		opacity: 1;
	}

	.inputbox-leave.inputbox-leave-active {
		opacity: 0.01;
		transition: 300ms;
		transition-timing-function: ease-out;
	}

	.link-enter {
		opacity: 0.01;
	}

	.link-enter.link-enter-active {
		opacity: 1;
		transition: 300ms;
		transition-delay: 300ms;
		transition-timing-function: ease-in;
	}
}

@media(max-width: $screenSizeiPad) {
	body {
		font-size: 19pt;
	}
}

@media(max-width: $screenSizeiPhone6Plus) {
	body {
		font-size: 11pt;
	}

	#app {
		.user-interaction {
			width: 335px;
			margin-top: 33px;
		}
	}
}

@media(max-width: $screenSizeiPhone6) {
	#app {
		.user-interaction {
			width: 305px;
		}
	}
}

@media(max-width: $screenSizeiPhone5) {
	#app {
		.user-interaction {
			width: 265px;
		}
	}
}