#message {
	min-width: 530px;
	margin-top: 40px;

	.text {
		font-size: 30pt;
		letter-spacing: -1px;
		text-align: center;
	}

	.outlined-button {
	    margin-top: 80px;
	}
}

@media(max-width: $screenWidthiPhone6Plus) {
	#message {
		min-width: 229px;

		.text {
			font-size: 24pt;
		}
	}
}

@media(max-width: $screenWidthiPhone6) {
	#message {
		min-width: 305px;

		.text {
			font-size: 20pt;
		}
	}
}

@media(max-width: $screenWidthiPhone5) {
	#message {
		min-width: 265px;

		.text {
			font-size: 16pt;
		}

		.outlined-button {
			margin-top: 70px;
		}
	}
}